@font-face {
    font-family: "Ketchum";
    src: url(fonts/Ketchum.otf);
}

@font-face {
    font-family: "Pokemon Classic";
    src: url(fonts/Pokemon\Classic.ttf);
}

@font-face {
    font-family: "Athens";
    src: url(fonts/AthensClassic.ttf);
}

@font-face {
    font-family: "Classic";
    src: url(fonts/classic_memesbruh03.ttf);
}

html, body {
    margin: 0;
}

h1 {
    font-family: "Ketchum";
    color: #ffcb05;
    -webkit-text-stroke: 1px #3b5ba7;
    font-size: 52px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: "Classic";
    color: #0b4ce2;
    font-size: 40px;
}

p {
    font-family: "Pokemon Classic";
    font-size: 14px;
}

.title {
    background-color: #f11f1f;
    display: flex;
    text-align: center;
}

.container {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #CCC;
    padding: 10px;
    border: 2px #999 solid;
    border-top: 0px;
}

.team-container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #CCC;
    padding: 10px;
    border: 2px #999 solid;
    border-top: 0px;
}

.poke-nav {
    display: flex;
    margin: 0;
    background-color: #2d6ef4;
    padding: 10px;
}

.poke-nav li {
    list-style-type: none;
    display: inline-block;
}

.poke-nav li a {
    text-decoration: none;
    margin: 10px;
    font-family: "Athens";
    color: #111;
    font-size: 24px;
    text-align: center;
    float: left;
}

.poke-nav li:hover {
    color: #000;
    background-color: #4f8ff4;
}

button[type="submit"] {
    display: inline-block;
}

input[type="text"] {
    display: inline-block;
    width: 250px;
    font-family: "Pokemon Classic";
    font-size: 10px;
}

.searchbar {
    display: flex;
    margin: auto;
    border: 2px #999 groove;
}

#pokemon { 
    display: none;
}

.pokeLink a {
    cursor: pointer;
    display: block;
    margin-left: 13%;
    margin-right: 13%;
    padding: 15px;
    color: #FFF;
    font-family: "Pokemon Classic";
    border: 3px solid #555;
    background-color: #111;
    border-left-width: 4px;
    border-right-width: 4px;
}

.pokeLink a:hover {
    color: #ffcb05;
    background-color: #f11f1f;
    border-color: #FFF;
}

table{
    margin: auto;
    width: 50%;
}

th, td {
    border: 1px solid red;
    align-content: center;
    padding: 4px;
    font-size: 30px;
}

#pokemon{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #CCC;
    padding: 10px;
    border: 2px #999 solid;
}

#pic{
    height: 300px;
    width: 300px;
}

#PokemonList {
    background-color: #CCC;
}

/*
if pic non-existent pull pic from internet
*/